typing-extensions>=3.7;python_version<'3.8'
git+https://github.com/scikit-hep/coffea.git@master
numba>=0.57.0
numpy>=1.22.0
awkward>=2
mplhep>=0.3.48
cloudpickle
vector<1.5.0
boost_histogram>=1.5.0
hist>=2.8.0
pyaml
requests
parsl
matplotlib>=3.7
rich
rucio-clients>=37.5.0
onnxruntime
omegaconf
law
click>=8.0.4
correctionlib>=2.6.1
setuptools<71
