typing-extensions>=3.7;python_version<'3.8'
coffea==0.7.22
numba>=0.57.0
numpy>=1.22.0
awkward>=1.10.3,<2
mplhep>=0.3.48
cloudpickle
vector
hist
pyaml
requests
bokeh==2.4.2
parsl
matplotlib>=3.7
rich
rucio-clients
omegaconf
law
click
